
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}


body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(#111, #222);
    color: #fff;
}

/* Container Styles */
.login-container {
    background-color: rgba(21, 16, 81, 0.842);
    padding: 40px 30px;
    border-radius: 12px;
    width: 100%;
    max-width: 400px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
    text-align: center;
}

.login-container h2 {
    margin-bottom: 20px;
    font-size: 28px;
    font-weight: bold;
    color: #fff;
}

/* Input Box Styles */
.input-box {
    color: white;
    position: relative;
    margin-bottom: 30px;
}

.input-box input {
    width: 100%;
    padding: 10px;
    background: transparent;
    border: none;
    border-bottom: 2px solid #fff;
    color: #fff;
    font-size: 16px;
    outline: none;
}

.input-box label {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    transition: 0.5s;
    color: white;
    font-size: 16px;
}

.input-box input:focus ~ label,
.input-box input:not(:placeholder-shown) ~ label {
    top: -20px;
    font-size: 14px;
    color: #6c63ff;
}

.btn {
    display: inline-block;
    background: #6c63ff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background 0.3s ease;
}

.btn:hover {
    background: #5048ff;
}

/* Register Link */
.register-link {
    margin-top: 15px;
    font-size: 14px;
}

.register-link a {
    color: #a6d3a2;
    text-decoration: none;
    font-weight: bold;
}

.register-link a:hover {
    text-decoration: underline;
}
